<div class="password-reset-container">
    <h2>Reset Password</h2>

    <!-- Password Reset Form -->
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <label for="newPassword">New Password</label>
            <input id="newPassword" formControlName="newPassword" type="password" />
            <div *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.invalid"
                class="error">
                <p *ngIf="passwordForm.get('newPassword')?.hasError('required')">New password is required</p>
                <p *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">Password must be at least 6 characters
                    long</p>
            </div>
        </div>

        <div class="form-row">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" />
            <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid"
                class="error">
                <p *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">Confirm password is required</p>
                <p *ngIf="passwordForm.get('confirmPassword')?.hasError('minlength')">Password must be at least 6
                    characters long</p>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" [disabled]="passwordForm.invalid">Reset Password</button>
    </form>
</div>