<div class="header">
    <div class="spacer"></div>
    <div class="user-info">
      <div class="user-dropdown">
        <button 
          class="user-icon" 
          (click)="toggleDropdown()" 
          [class.tooltip-hidden]="isDropdownOpen" 
          data-tooltip="User Info">
          <i class="fas fa-user"></i>
        </button>
        <div class="dropdown-content" *ngIf="isDropdownOpen">
          <p><strong>Username:</strong> {{ username }}</p>
          <p><strong>Role:</strong> {{ role }}</p>
        </div>
      </div>
      <button class="logout-button" (click)="onLogout()" data-tooltip="Logout">
        <img src="assets/icons/logout-icon.svg" alt="Logout" />
      </button>
    </div>
  </div>
  