<div class="sidebar">
    <div class="logo">
        <img src="assets/imgs/mab-layout.png" alt="MAB Logo" class="full-logo" />
        <img src="assets/imgs/mab-layout-small.png" alt="MAB Small Logo" class="small-logo" />
    </div>
    <ul class="sidebar-menu">
        <li *ngFor="let item of menuItems">
            <a [routerLink]="item.link" routerLinkActive="active" [class.active]="isActive(item.link)">
                <i [class]="item.icon"></i>
                <span>{{ item.label }}</span>
            </a>
        </li>
    </ul>
</div>